let RepoSource = < Github | Gitlab >
in  { repos =
        [ { repo_owner_name = "exampleowner"
          , repo_name = "reponame"
          , repo_source = RepoSource.Github
          , repo_data_dir = "/path/to/reponame-issues"
          , repo_auth = "oauthtoken-see-https://github.com/settings/tokens"
          }
        , { repo_owner_name = "exampleowner"
          , repo_name = "reponame2"
          , repo_source = RepoSource.Gitlab
          , repo_data_dir = "/path/to/reponame2-issues"
          , repo_auth = "oauthtoken-see-https://docs.gitlab.com/ee/user/profile/personal_access_tokens.html"
          }
        ]
    }
